{% if section.settings.whatsappnumber != blank %}

<a href="https://wa.me/{{ section.settings.whatsappnumber }}" target="_blank" class="whatsapp-button">
  {%- liquid
      render 'icon-whatsapp'
  -%}
</a>

{% endif %}


<style>

  .whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
	padding-left: 4px;

    width: 60px;
    height: 60px;
    
    border-radius: 50%;
    padding: 9px;
    
    background: #4E9CAF;
    text-align: center;
    
    color: white;
    font-weight: bold;
    
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
  	right: 20px;
    z-index: 99;
  }
  
  
  .whatsapp-button svg {
    width: 40px;
    height: 40px;
  }
  
</style>

{% schema %}
  {
    "name": "whatsapp",
    "settings": [
      {
        "type": "text",
        "id": "whatsappnumber",
        "label": "Movíl"
      }
    ],
    "presets": [
      {
        "name": "WhatsApp"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
